<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} site-footer w-100 pa3" role="contentinfo">
  <div class="flex justify-between items-center w-100">
    
    <!-- Left side: home link & copyright -->
    <a class="dib br-pill ph3 pv2 white-70 black-80 hover-bg-light-gray hover-black no-underline fw6" 
       href="{{ .Site.Home.Permalink }}">
      &copy; {{ with .Site.Copyright | default .Site.Title }}{{ . | safeHTML }} {{ now.Format "2006" }}{{ end }}
    </a>
    
    <!-- Center: Go up button -->
    <a href="#top" 
       class="dib br-pill ph3 pv2 white-70 black-80 hover-bg-light-gray hover-black no-underline fw6">
      ⬆️{{ i18n "go_up" }}
    </a>
    
    <!-- Right side: About link + social icons -->
    <div class="flex items-center">
      <a class="dib br-pill ph3 pv2 white-70 black-80 hover-bg-light-gray hover-black no-underline fw6" 
         href="{{ "/about/" | relLangURL }}">
        {{ i18n "about" }}
      </a>
      {{ partialCached "social/follow.html" . }}
    </div>
  
  </div>
</footer>